<div class="nav">
    <a href="/">Archive</a>
    <div class="nav2">
      
      <span id="title">

      </span> -
      <span id="artist">
        
      </span>
    </div>
</div>

<div class="frame">
    <iframe width="100%" height="100%" src="{{src}}" frameborder="0"></iframe>
</div>

<div class="player_controlls">
    <div id="play_pause" class="material-icons">play_arrow</div>
    <input id="controll_bar" type="range" min="0" max="1" value="0" step=".0001">
    <span id="position">00:00</span>/
    <span id="duration">00:00</span>
    
</div>

<script>
    // player init and window event handling
  let songs = [];
  let index, playing;
//   const controll_bar = $("#controll_bar");
//   const duration = $("#duration");
//   const position = $("#position");
//   const title = $("#title");
//   const artist = $("#artist");

//   function update_progress() {
//     if (playing) {
//       controll_bar.val(playing.howl.seek() / playing.howl.duration());
//       duration.html(~~( playing.howl.duration() / 60 ) + ':' + ~~( playing.howl.duration() % 60 ).toLocaleString("en-US", {minimumIntegerDigits: 2}));
//       position.html(~~( playing.howl.seek() / 60 ) + ':'+ ~~( playing.howl.seek() % 60 )).toLocaleString("en-US", {minimumIntegerDigits: 2});
//       title.html(playing.title);
//       artist.html(playing.artist);
//     } else {
//       controll_bar.val(0);
//       duration.html("00:00");
//       position.html("00:00");
//       title.html("");
//       artist.html("");
//     }
//     window.requestAnimationFrame(update_progress);
//   }

//   $("#play_pause").click(function() { 
//     if (playing.howl.playing()) {
//       playing.howl.pause();
//       $("#play_pause").html("play_arrow");
//     } else {
//       playing.howl.play();
//       $("#play_pause").html("pause");
//     }
//   })


  window.onmessage = function(e) {
    if (e.data.type === "play") {
      if (playing) {
        playing.howl.stop();
      }

      songs = e.data.songs.map(function(song) {
        song.howl = new Howl({
          src: [song.src],
          html5: true
        });

        song.howl.on("end", function() {
          index++;
          if (index >= songs.length) return;
          songs[index].howl.play();
          playing = songs[index];
        //   $("#play_pause").html("pause");
        })

        return song;
      });
      index = e.data.index;
      
      songs[index].howl.play();
      playing = songs[index];
    }

    // window.requestAnimationFrame(update_progress);
  }
</script>