<div class="nav">
    <a href="/">Archive</a>
    <div class="nav2">
      
      <span id="title">

      </span> -
      <span id="artist">
        
      </span>
    </div>
</div>

<div class="frame">
    <iframe width="100%" height="100%" src="{{src}}" frameborder="0"></iframe>
</div>

<div class="controlls">
    <div id="play_button" class="material-icons">play_arrow</div>
    <span id="time">00:00/00:00</span>
    <div id="bar"></div>
</div>

<script>
    // player init and window event handling
  let songs = [];
  let index, playing;
  const bar = $("#bar");
  const time = $("#time");
  const title = $("#title");
  const artist = $("#artist");
  const play_button = $("#play_button")

  function leading_zeros(seconds) 
{ 
  return (seconds < 10 ? '0' : '') + seconds;
}

  function render() {
    if (playing) {
      bar.width((playing.howl.seek() / playing.howl.duration() * 100) + "%");
      time.html(~~( playing.howl.duration() / 60 ) + ':' + leading_zeros(~~(playing.howl.duration() % 60)) + '/' + ~~( playing.howl.seek() / 60 ) + ':' + leading_zeros(~~(playing.howl.seek() % 60)));
      title.html(playing.title);
      artist.html(playing.artist);
    } else {
      bar.width(0);
      time.html("00:00/00:00");
      title.html("");
      artist.html("");
    }
    window.requestAnimationFrame(render);
  }


  play_button.click(function() {
    if(playing.howl.playing()) {
      playing.howl.pause();
      play_button.html("play_arrow");
    } else {
      playing.howl.play();
      play_button.html("pause");
    }
  })


  window.onmessage = function(e) {
    if (e.data.type === "play") {
      if (playing) {
        playing.howl.stop();
      }

      songs = e.data.songs.map(function(song) {
        song.howl = new Howl({
          src: [song.src],
          html5: true
        });

        song.howl.on("end", function() {
          index++;
          if (index >= songs.length) return;
          songs[index].howl.play();
          playing = songs[index];
        })

        return song;
      });

      index = e.data.index;
      
      songs[index].howl.play();
      playing = songs[index];
    }

    window.requestAnimationFrame(render);
  }
</script>